# macOS
.DS_Store
.AppleDouble
.LSOverride

# Node
node_modules/
npm-debug.log
yarn-error.log

# Build output
dist/
build/

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo

# Environment variables
.env
.env.local
